# Ignore everything
*

# But not these files...
!.gitignore
!script.pl
!template.latex

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*

# NOT IGNORE
!/js/plugins/SL_Icemenu_Monolith.js
!/js/plugins/SL_Icemenu_Monolith/index.html